<div hlmSidebarWrapper>
  <hlm-sidebar>
    <div hlmSidebarHeader class="border-b h-(--header-height) flex-row items-center">
      <ul hlmSidebarMenu>
        <a hlmSidebarMenuButton class="p-1.5!">
          <ng-icon hlm name="lucideAudioLines" class="size-5!" />
          <span class="text-base font-semibold">{{ app }}</span>
        </a>
      </ul>
    </div>
    <div hlmSidebarContent>
      <div hlmSidebarGroup class="mt-3">
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (item of items?.navMain; track item.title) {
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton
              [routerLink]="item.url"
            [routerLinkActive]="['bg-accent', 'border-accent']"
              class="py-5">
                <ng-icon hlm [name]="item.icon" size="sm" />
                <span>{{ item.title }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
      @if(items?.navSecondary?.length){
      <div hlmSidebarGroup class="mt-auto">
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (item of items?.navSecondary; track item.title) {
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton [href]="item.url" target="_blank">
                <ng-icon hlm [name]="item.icon" size="sm"/>
                <span>{{ item.title }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </div>}
    </div>
    @if(items?.user){
    <div hlmSidebarFooter class="border-t">
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <a
            hlmSidebarMenuButton
            size="lg"
            class="data-[state=open]:bg-sidebar-accent data-[state=open]:text-sidebar-accent-foreground"
            [hlmDropdownMenuTrigger]="userMenu"
          >
            <hlm-avatar class="size-8 rounded-lg grayscale">
              <img
                [src]="items.user.avatar"
                alt="spartan logo. Resembling a spartanic shield"
                hlmAvatarImage
              />
              <span class="rounded-lg bg-[#FD005B] text-white" hlmAvatarFallback>SP</span>
            </hlm-avatar>
            <div class="grid flex-1 text-left text-sm leading-tight">
              <span class="truncate font-medium">{{ items.user.name }}</span>
              <span class="text-muted-foreground truncate text-xs">
                {{ items.user.email }}
              </span>
            </div>
            <ng-icon hlm name="tablerDotsVertical" class="ml-auto size-4" />
          </a>
        </li>
      </ul>
      <ng-template #userMenu>
        <hlm-dropdown-menu class="min-w-56 rounded-lg">
          <hlm-dropdown-menu-label class="p-0 font-normal">
            <div class="flex items-center gap-2 px-1 py-1.5 text-left text-sm">
              <hlm-avatar class="size-8 rounded-lg">
                <img
                  [src]="items.user.avatar"
                  alt="spartan logo. Resembling a spartanic shield"
                  hlmAvatarImage
                />
                <span class="rounded-lg bg-[#FD005B] text-white" hlmAvatarFallback>SP</span>
              </hlm-avatar>
              <div class="grid flex-1 text-left text-sm leading-tight">
                <span class="truncate font-medium">{{ items.user.name }}</span>
                <span class="text-muted-foreground truncate text-xs">
                  {{ items.user.email }}
                </span>
              </div>
            </div>
          </hlm-dropdown-menu-label>
          <hlm-dropdown-menu-separator />
          <hlm-dropdown-menu-group>
            <button hlmDropdownMenuItem>
              <ng-icon hlm name="tablerUserCircle" size="sm" />
              <span>Account</span>
            </button>
            <button hlmDropdownMenuItem>
              <ng-icon hlm name="tablerCreditCard" size="sm" />
              <span>Billing</span>
            </button>
            <button hlmDropdownMenuItem>
              <ng-icon hlm name="tablerNotification" size="sm" />
              <span>Notifications</span>
            </button>
          </hlm-dropdown-menu-group>
          <hlm-dropdown-menu-separator />
          <button hlmDropdownMenuItem>
            <ng-icon hlm name="tablerLogout" size="sm" />
            <span>Logout</span>
          </button>
        </hlm-dropdown-menu>
      </ng-template>
    </div>}
  </hlm-sidebar>
  <main hlmSidebarInset>
    <header
      class="bg-background/90 md:hidden sticky top-0 z-10 flex h-(--header-height) shrink-0 items-center gap-2 border-b transition-[width,height] ease-linear group-has-data-[collapsible=icon]/sidebar-wrapper:h-(--header-height)"
    >
      <div class="flex w-full items-center gap-1 px-4 lg:gap-2 lg:px-6">
        <ng-icon hlm name="lucideAudioLines" class="size-5!" />
        <span class="text-base font-semibold">Acme Inc.</span>
        <div class="ml-auto flex items-center gap-2">
          <button hlmBtn size="sm" class="h-7">
            <button hlmSidebarTrigger><ng-icon hlm name="lucideMenu" size="sm" /></button>
          </button>
        </div>
      </div>
    </header>
    <ng-content />
  </main>
</div>
