<app-side-menu>
  <div class="h-full flex-col flex gap-1 py-2">
    <button
      [routerLink]="'/admin/dashboard'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixDashboardFill" />
      <span>Dashboard</span>
    </button>
    <button
      [routerLink]="'/admin/users'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="lucideUsers" />
      <span>Users</span>
    </button>
    @if(userDetails.role === 'admin'){
    <button
      [routerLink]="'/admin/ai-management'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixAiGenerate2" />
      <span>AI Management</span></button
    >}
    <button
      [routerLink]="'/admin/voice-management'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixUserVoiceFill" />
      <span>Voice Management</span>
    </button>
    @if(userDetails.role === 'admin'){
    <button
      [routerLink]="'/admin/plan-management'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixMoneyRupeeCircleFill" />
      <span>Plan Management</span></button
    >}
    <button
      [routerLink]="'/admin/service-requests'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixFeedbackLine" />
      <span>Service Requests</span>
    </button>
    @if(userDetails.role === 'admin'){
    <button
      [routerLink]="'/admin/email-settings'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixMailFill" />
      <span>Email Settings</span>
    </button>
    <button
      [routerLink]="'/admin/payment-gateway-settings'"
      routerLinkActive="active"
      class="side-bar-tab"
    >
      <ng-icon name="remixSecurePaymentFill" />
      <span>Razorpay Settings</span>
    </button>
    }
  </div>
</app-side-menu>
