<div
  class="px-5 py-3 border border-border border-t-0 flex flex-col sm:flex-row items-center sm:justify-between"
>
  <span class="text-xs text-muted-foreground">
    Showing @if(total()>0) { {{startValue()}} to {{endValue() < total() ?
    endValue() : total()}} of }{{total()}} Entries
  </span>

  <div class="inline-flex mt-2 xs:mt-0">
    <button
      hlmBtn
      variant="ghost"
      [disabled]="page() === 1"
      (click)="page.set(1)"
    >
      <ng-icon name="lucideChevronsLeft"></ng-icon>
    </button>
    <button
      hlmBtn
      variant="ghost"
      [disabled]="page() === 1"
      (click)="page.set(page() - 1)"
    >
      <ng-icon name="lucideChevronLeft"></ng-icon>
    </button>
    <input
      hlmInput
      type="number"
      [value]="page()"
      class="mx-1 w-16 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none text-center"
      [disabled]="pages() <= 1"
      (change)="changePage($event)"
    />
    <button
      hlmBtn
      variant="ghost"
      [disabled]="page() === pages() || pages() === 0"
      (click)="page.set(page() + 1)"
    >
      <ng-icon name="lucideChevronRight"></ng-icon>
    </button>
    <button
      hlmBtn
      variant="ghost"
      [disabled]="page() === pages() || pages() === 0"
      (click)="page.set(pages())"
    >
      <ng-icon name="lucideChevronsRight"></ng-icon>
    </button>
  </div>
  <div class="flex gap-2 items-center">
    <span class="text-xs text-muted-foreground">Rows per page</span>
    <brn-select class="inline-block" [(value)]="rowsPerPage">
      <hlm-select-trigger>
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content>
        <hlm-option [value]="5">5</hlm-option>
        <hlm-option [value]="10">10</hlm-option>
        <hlm-option [value]="20">20</hlm-option>
      </hlm-select-content>
    </brn-select>
  </div>
</div>
