@import "../../../../../styles.css";

@layer base {
  label {
    @apply text-sm leading-none font-medium select-none flex items-center gap-1;
    button {
      @apply flex;
      ng-icon {
        @apply !text-muted-foreground cursor-pointer;
      }
    }
  }

  .number-input {
    @apply flex items-center gap-1 rounded border border-border bg-background px-2 py-0.5 text-sm text-foreground has-[:focus]:border-muted has-[:focus]:outline-none;
    input {
      @apply flex border-input text-base shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:ring-0 focus-visible:border-none w-6.5 h-8 rounded-none border-0 bg-transparent p-0 text-right appearance-none;
    }
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
