<div class="flex flex-col justify-between gap-4 py-4 sm:flex-row sm:items-center">
  <input
    hlmInput
    class="w-full md:w-80"
    placeholder="Filter ..."
    (input)="_filterChanged($event)"
  />
</div>
<div class="overflow-hidden rounded-md border">
  @defer {
    <div hlmTableContainer>
      <table hlmTable>
        <thead hlmTHead>
          @for (headerGroup of _table.getHeaderGroups(); track headerGroup.id) {
            <tr hlmTr>
              @for (header of headerGroup.headers; track header.id) {
                <th hlmTh [attr.colSpan]="header.colSpan">
                  @if (!header.isPlaceholder) {
                    <ng-container
                      *flexRender="
                        header.column.columnDef.header;
                        props: header.getContext();
                        let headerText
                      "
                    >
                      <div [innerHTML]="headerText"></div>
                    </ng-container>
                  }
                </th>
              }
            </tr>
          }
        </thead>
        <tbody hlmTBody>
          @for (row of _table.getRowModel().rows; track row.id) {
            <tr hlmTr [attr.key]="row.id" [attr.data-state]="row.getIsSelected() && 'selected'">
              @for (cell of row.getVisibleCells(); track $index) {
                <td hlmTd>
                  <ng-container
                    *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cell"
                  >
                    <div [innerHTML]="cell"></div>
                  </ng-container>
                </td>
              }
            </tr>
          } @empty {
            <tr hlmTr>
              <td hlmTd class="h-24 text-center" [attr.colspan]="_columns.length">No results.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>

<div class="flex flex-col justify-between py-4 sm:flex-row sm:items-center">
  @if (_table.getRowCount() > 0) {
    <hlm-numbered-pagination
      [(currentPage)]="page"
      [(itemsPerPage)]="pageSize"
      [totalItems]="_table.getRowCount()"
      [pageSizes]="[1, 2, 3]"
      class="w-full"
    />
  } @else {
    <div class="flex h-full w-full items-center justify-center">
      <div class="text-muted-foreground text-sm">No Data</div>
    </div>
  }
</div>
