<hlm-dialog>
  <div hlmDialogOverlay class="fixed inset-0 z-50 bg-background/50"></div>

  <hlm-dialog-content
    class="voice-cloning-dialog min-h-[100dvh] w-full max-w-none rounded-lg border-1 p-4 sm:p-6 md:p-8 md:min-h-[820px] md:w-[90vw] lg:w-[900px] mb-4 md:max-w-2xl overflow-y-auto"
  >
    <!-- <hlm-dialog-header> -->
    @if(currentScreen !== 'selection'){
    <button
      ng-icon-button
      variant="ghost"
      (click)="goBack()"
      class="absolute left-4 top-4"
    >
      <ng-icon name="lucideChevronLeft" class="h-5 w-5" /></button
    >}
    <!-- </hlm-dialog-header> -->

    @switch(currentScreen){ @case('selection'){
    <div class="flex flex-col items-center space-y-4 p-2 sm:p-4 text-center">
      <h3
        brnDialogTitle
        hlm
        class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
      >
        How would you like to clone your voice?
      </h3>

      <div class="space-y-3 w-full max-w-md mx-auto">
        <button
          hlmBtn
          variant="outline"
          (click)="selectCloningMethod('record')"
          class="w-full justify-start flex flex-row gap-2 sm:gap-4 border-2 py-6 sm:py-10 group cursor-pointer relative !bg-muted-foreground/8 !rounded-lg hover:border-border"
        >
          <p
            class="absolute -right-2 sm:-right-3 -top-2 sm:-top-3 z-40 text-xs sm:text-sm text-foreground bg-muted-foreground/30 px-1.5 sm:px-2 py-1 sm:py-1.5 text-center rounded-lg"
          >
            Recommended
          </p>
          <div
            class="column-1 items-center flex justify-center h-10 w-10 sm:h-12 sm:w-12 group-hover:bg-muted-foreground/50 bg-background rounded-xl"
          >
            <ng-icon name="lucideMic" />
          </div>
          <div class="column-2 items-start flex flex-1 flex-col">
            <span class="row-1 h-1/2 pb-1 sm:pb-2 text-sm sm:text-base"
              >Record your voice</span
            >
            <span class="text-xs sm:text-sm text-muted-foreground row-2 h-1/2">
              Takes 15 seconds. AI will capture your intonation perfectly.
            </span>
          </div>
        </button>
        <button
          hlmBtn
          variant="outline"
          (click)="selectCloningMethod('upload')"
          class="w-full justify-start flex flex-row gap-2 sm:gap-4 border-2 py-6 sm:py-10 group !bg-muted-foreground/8 !rounded-lg hover:border-border"
        >
          <div
            class="column-1 items-center flex justify-center h-10 w-10 sm:h-12 sm:w-12 group-hover:bg-muted-foreground/50 bg-background rounded-xl"
          >
            <ng-icon name="lucideCloudUpload" />
          </div>
          <div class="column-2 items-start flex flex-1 flex-col">
            <span class="row-1 h-1/2 pb-1 sm:pb-2 text-sm sm:text-base"
              >Upload an audio file</span
            >
            <span class="text-xs sm:text-sm text-muted-foreground row-2 h-1/2">
              Select and upload an mp3 or wav file.
            </span>
          </div>
        </button>
      </div>
    </div>
    } @case ('consent') {
    <div
      class="flex flex-col items-center justify-between space-y-2 p-2 sm:p-4 text-center"
    >
      <div class="w-full max-w-2xl mx-auto">
        <h3
          brnDialogTitle
          hlm
          class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
        >
          Clone your voice with full privacy and control
        </h3>
        <div class="w-full bg-muted-foreground/8 rounded-lg">
          @for(item of privacyConsentItems; track item.description; let last =
          $last){
          <div
            class="flex items-center justify-center gap-x-2 sm:gap-x-4 text-card-foreground m-2 sm:m-4 py-2 sm:py-4 px-4 sm:px-8"
            [ngClass]="{'border-white/10 border-b': !last}"
          >
            <ng-icon [name]="item.icon" />

            <div class="flex-1 text-left">
              <p class="font-medium">{{ item.title }}</p>
              @if(item.description){
              <p class="text-sm text-muted-foreground">
                {{ item.description }}
              </p>
              }
            </div>
          </div>
          }
        </div>
      </div>
      <button
        class="w-full bg-foreground text-background py-3 rounded-lg"
        hlmBtn
        (click)="proceedToPrivacy()"
      >
        Continue
      </button>
    </div>
    } @case('privacy'){

    <div
      class="flex flex-col items-center justify-between p-2 sm:p-4 text-center"
    >
      <h3
        brnDialogTitle
        hlm
        class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
      >
        I hereby certify that for all samples that I upload:
      </h3>
      <div class="w-full bg-muted-foreground/8 rounded-lg">
        @for(item of generalConsentItems; track item.description; let last =
        $last){

        <div
          class="flex items-start gap-x-2 sm:gap-x-4 text-card-foreground m-2 sm:m-4 py-2 sm:py-4 px-4 sm:px-8"
          [ngClass]="{'border-white/10 border-b': !last}"
        >
          <div class="flex items-center justify-center pt-1">
            <ng-icon [name]="item.icon" class="h-6 w-6" />
          </div>
          <div class="flex-1 text-left">
            <p class="font-medium">{{ item.title }}</p>
            @if(item.description){
            <p class="text-sm text-muted-foreground">{{ item.description }}</p>
            }
          </div>
        </div>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2 items-start p-4">
      <p class="font-medium">I consent to sign electronically:</p>
      <div class="flex gap-x-2 items-center w-full">
        <input
          type="text"
          [(ngModel)]="electronicSignature"
          placeholder="Type 'Read'"
          class="flex-1 h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
        />
        <button
          hlmButton
          [disabled]="electronicSignature.toLowerCase() !== 'read'"
          variant="outline"
          (click)="signAndProceed()"
          class="flex-shrink-0 h-10 rounded-md bg-foreground/8 px-3 py-2 text-center disabled:cursor-not-allowed disabled:opacity-50"
        >
          Sign & Record
        </button>
      </div>
    </div>
    } @case('uploadSample'){
    <div class="flex flex-col items-center space-y-4 p-2 sm:p-4 text-center">
      <h3
        brnDialogTitle
        hlm
        class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
      >
        Upload Voice Sample
      </h3>
      <div
        class="flex flex-col items-center justify-center gap-4 sm:gap-6 max-w-lg w-full"
      >
        <app-drag-drop-upload
          (filesDropped)="onFilesDropped($event)"
          class="w-full"
        ></app-drag-drop-upload>

        @if(selectedFile){
        <div class="w-full flex flex-col items-center gap-4">
          <p class="text-sm text-muted-foreground">Listen to your sample</p>

          <audio
            *ngIf="audioURL"
            [src]="audioURL"
            controls
            class="w-full"
          ></audio>

          <button
            hlmBtn
            variant="outline"
            class="text-primary border-0"
            (click)="removeselectedFile()"
          >
            <ng-icon name="lucideRotateCw" />
            Change voice
          </button>
        </div>
        }

        <div
          class="w-full flex items-center justify-between p-4 bg-muted/50 rounded-lg"
        >
          <div class="flex items-center gap-x-2">
            <ng-icon name="lucideSparkles" class="text-blue-400" />
            <span class="font-medium">Enhance audio with AI</span>
          </div>
          <hlm-switch [(ngModel)]="enhanceWithAI" />
        </div>

        <button
          hlmButton
          class="w-full bg-foreground text-background p-2 font-medium rounded-lg"
          (click)="useSample()"
        >
          Use sample
        </button>
      </div>
    </div>
    } @case('recordSample'){
    <div class="flex flex-col items-center space-y-4 p-2 sm:p-4 text-center">
      <h3
        brnDialogTitle
        hlm
        class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
      >
        Record Voice Sample
      </h3>
      <div
        class="flex flex-col items-center justify-center gap-4 sm:gap-6 max-w-lg w-full"
      >
        <app-audio-recorder class="w-full"></app-audio-recorder>

        @if(selectedFile){
        <div class="w-full flex flex-col items-center gap-4">
          <p class="text-sm text-muted-foreground">Listen to your sample</p>

          <audio
            *ngIf="audioURL"
            [src]="audioURL"
            controls
            class="w-full"
          ></audio>

          <button
            hlmBtn
            variant="outline"
            class="text-primary border-0"
            (click)="removeselectedFile()"
          >
            <ng-icon name="lucideRotateCw" />
            Change voice
          </button>
        </div>
        }

        <div
          class="w-full flex items-center justify-between p-4 bg-muted/50 rounded-lg"
        >
          <div class="flex items-center gap-x-2">
            <ng-icon name="lucideSparkles" class="text-blue-400" />
            <span class="font-medium">Enhance audio with AI</span>
          </div>
          <hlm-switch [(ngModel)]="enhanceWithAI" />
        </div>

        <button
          hlmButton
          class="w-full bg-foreground text-background p-2 font-medium rounded-lg"
          (click)="useSample()"
        >
          Use sample
        </button>
      </div>
    </div>
    } @case('saveVoice'){
    <div class="flex flex-col items-center space-y-4 p-2 sm:p-4 text-center">
      <h3
        brnDialogTitle
        hlm
        class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
      >
        Save Your Voice
      </h3>
      <div class="flex flex-col gap-y-4 sm:gap-y-6 max-w-lg w-full items-start">
        <div class="flex flex-col gap-y-2 w-full">
          <label hlmLabel class="text-start">Name your voice</label>
          <input
            hlmInput
            [(ngModel)]="voiceData.name"
            class="flex-1 w-full h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          />
        </div>

        <div class="flex flex-col gap-y-2 w-full">
          <label hlmLabel class="text-start">Language</label>
          <brn-select
            [(ngModel)]="voiceData.language"
            placeholder="Select a locale"
            class="w-full"
          >
            <hlm-select-trigger #selectTrigger class="w-full bg-foreground">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content class="w-full" #selectContent>
              @for(lang of languages; track lang.code){
              <hlm-option [value]="lang.code"
                >{{ lang.name }} ({{ lang.code }})</hlm-option
              >
              }
            </hlm-select-content>
          </brn-select>
        </div>

        <div class="flex flex-col gap-y-2 w-full">
          <label hlmLabel class="text-start pb-2">Voice gender</label>
          <hlm-radio-group class="flex gap-x-4" [(ngModel)]="voiceData.gender">
            <label hlm-radio-group-item class="flex items-center gap-x-2">
              <input
                hlmRadioInput
                type="radio"
                value="male"
                name="gender"
                [checked]="voiceData.gender === 'male'"
              />
              <span>Male</span>
            </label>

            <label hlm-radio-group-item class="flex items-center gap-x-2">
              <input
                hlmRadioInput
                type="radio"
                value="female"
                name="gender"
                [checked]="voiceData.gender === 'female'"
              />
              <span>Female</span>
            </label>
          </hlm-radio-group>
        </div>

        <div
          class="w-full flex flex-col items-center gap-4 border-t border-border pt-6"
        >
          @if(audioURL){
          <p class="text-sm text-muted-foreground">Listen to your sample</p>
          <audio [src]="audioURL" controls class="w-full"></audio>
          <button
            hlmBtn
            variant="outline"
            class="text-primary"
            (click)="removeselectedFile()"
          >
            <ng-icon name="lucideRotateCw" class="mr-2" />
            Change voice</button
          >}
        </div>
      </div>
      <button
        hlmButton
        class="w-full sm:w-[90%] mt-2 sm:mx-10 bg-foreground text-background p-2 font-medium rounded-lg text-sm sm:text-base"
        (click)="saveVoice()"
      >
        Save Voice
      </button>
    </div>
    }}
  </hlm-dialog-content>
</hlm-dialog>
