<hlm-dialog>
  <div hlmDialogOverlay class="fixed inset-0 z-50 bg-background/50"></div>

  <hlm-dialog-content
    class="voice-cloning-dialog min-h-dvh w-full max-w-none p-0 overflow-y-auto md:min-h-[820px] md:w-[90vw] md:max-w-2xl md:p-8 md:rounded-lg md:border lg:w-[900px] fixed top-0 left-0 right-0 bottom-0 md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2"
  >
    <div class="relative w-full">
      @if(currentScreen !== 'selection'){
      <button
        ng-icon-button
        variant="ghost"
        (click)="goBack()"
        class="absolute left-4 top-6 z-50 text-foreground"
      >
        <ng-icon name="lucideChevronLeft" class="h-6 w-6" /></button
      >} @switch(currentScreen){ @case('selection'){
      <div
        class="flex flex-col items-center space-y-4 p-4 sm:p-6 pt-12 md:p-6 md:pt-6 text-center max-w-screen"
      >
        <h3
          brnDialogTitle
          hlm
          class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
        >
          How would you like to clone your voice?
        </h3>
        <app-voice-meathod-selection
          [methodOptions]="methodOptions"
          (selectMethod)="onChildSelectMethod($event)"
          class="mt-4"
        ></app-voice-meathod-selection>
      </div>
      } @case ('consent') {
      <div
        class="flex flex-col items-center justify-between space-y-2 p-4 sm:p-6 text-center pt-12 md:p-0 md:pt-0"
      >
        <div class="w-full max-w-2xl mx-auto">
          <h3
            brnDialogTitle
            hlm
            class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
          >
            Clone your voice with full privacy and control
          </h3>
          <div class="w-full bg-muted-foreground/8 rounded-lg">
            @for(item of privacyConsentItems; track item.description; let last =
            $last){
            <div
              class="flex items-center justify-center gap-x-2 sm:gap-x-4 text-card-foreground m-2 sm:m-4 py-2 sm:py-4 px-4 sm:px-8"
              [ngClass]="{'border-white/10 border-b': !last}"
            >
              <ng-icon [name]="item.icon" />

              <div class="flex-1 text-left">
                <p class="font-medium">{{ item.title }}</p>
                @if(item.description){
                <p class="text-sm text-muted-foreground">
                  {{ item.description }}
                </p>
                }
              </div>
            </div>
            }
          </div>
        </div>
        <button
          class="w-full bg-foreground text-background py-3 rounded-lg mt-6"
          hlmBtn
          (click)="proceedToPrivacy()"
        >
          Continue
        </button>
      </div>
      } @case('privacy'){

      <div
        class="flex flex-col items-center justify-between p-4 sm:p-6 text-center pt-12 md:p-0 md:pt-0"
      >
        <h3
          brnDialogTitle
          hlm
          class="py-2 sm:py-4 text-lg sm:text-xl md:text-2xl"
        >
          I hereby certify that for all samples that I upload:
        </h3>
        <div class="w-full bg-muted-foreground/8 rounded-lg">
          @for(item of generalConsentItems; track item.description; let last =
          $last){

          <div
            class="flex items-start gap-x-2 sm:gap-x-4 text-card-foreground m-2 sm:m-4 py-2 sm:py-4 px-4 sm:px-8"
            [ngClass]="{'border-white/10 border-b': !last}"
          >
            <div class="flex items-center justify-center pt-1">
              <ng-icon [name]="item.icon" class="h-6 w-6" />
            </div>
            <div class="flex-1 text-left">
              <p class="font-medium">{{ item.title }}</p>
              @if(item.description){
              <p class="text-sm text-muted-foreground">
                {{ item.description }}
              </p>
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="flex flex-col gap-2 items-start p-4 sm:p-6 pt-0 md:p-0 mt-8">
        <p class="font-medium">I consent to sign electronically:</p>
        <div class="flex gap-x-2 items-center w-full">
          <input
            type="text"
            [(ngModel)]="electronicSignature"
            placeholder="Type 'Read'"
            class="flex-1 h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          />
          <button
            hlmButton
            [disabled]="electronicSignature.toLowerCase() !== 'read'"
            variant="outline"
            (click)="signAndProceed()"
            class="shrink-0 h-10 rounded-md bg-foreground/8 px-3 py-2 text-center disabled:cursor-not-allowed disabled:opacity-50"
          >
            Sign & Record
          </button>
        </div>
      </div>
      } @case('uploadSample'){
      <app-voice-upload-sample
        [selectedFile]="selectedFile"
        [audioURL]="audioURL"
        [enhanceWithAI]="enhanceWithAI"
        (filesDropped)="onFilesDropped($event)"
        (removeFile)="removeselectedFile()"
        (useSample)="useSample()"
        (enhanceWithAIChange)="enhanceWithAI = $event"
      ></app-voice-upload-sample>
      } @case('recordSample'){
      <app-voice-record-sample
        [selectedFile]="selectedFile"
        [audioURL]="audioURL"
        [enhanceWithAI]="enhanceWithAI"
        (removeFile)="removeselectedFile()"
        (recordedFile)="onRecordedFile($event)"
        (enhanceWithAIChange)="enhanceWithAI = $event"
      ></app-voice-record-sample>
      } @case('saveVoice'){
      <app-voice-save-form
        [voiceData]="voiceData"
        [languages]="languages"
        [audioURL]="audioURL"
        (save)="saveVoice()"
        (removeFile)="removeselectedFile()"
      ></app-voice-save-form>
      }}
    </div>
  </hlm-dialog-content>
</hlm-dialog>
