<header
  class="sticky top-0 z-40 flex h-16 w-full items-center justify-start gap-4 border-b border-border bg-background px-4 lg:hidden"
>
  <div class="flex items-center gap-2">
    <hlm-sheet side="left" #sheet>
      <button
        hlmButton
        variant="ghost"
        class="flex items-center justify-center w-10 h-10"
        brnSheetTrigger
      >
        <ng-icon name="lucideMenu" class="h-6 w-6" />
      </button>

      <hlm-sheet-content
        *brnSheetContent="let ctx"
        class="w-60 p-0 flex flex-col"
      >
        <ng-container
          *ngTemplateOutlet="menuContent; context: { $implicit: ctx }"
        ></ng-container>
      </hlm-sheet-content>
    </hlm-sheet>

    <a
      class="flex items-center gap-2 hover:opacity-70 cursor-pointer"
      routerLink="/app"
    >
      <ng-icon name="lucideAudioLines" size="24" class="text-primary" />
      <h2 class="font-semibold text-lg">AI Awaaz</h2>
    </a>
  </div>
</header>

<ng-template #menuContent let-ctx>
  <div class="flex flex-col h-full">
    <div class="mb-1 mt-4 px-4 pb-2">
      <a
        class="flex items-center gap-3 hover:opacity-70 cursor-pointer py-2"
        routerLink="/app"
        (click)="ctx?.close()"
      >
        <ng-icon name="lucideAudioLines" size="24" class="text-primary" />
        <h2 class="font-semibold text-lg">AI Awaaz</h2>
      </a>
    </div>

    <ng-content />

    <div
      class="border-t dark:border-gray-700/50 border-gray-300/50 pt-2 text-sm mt-auto p-2"
    >
      <button
        hlmButton
        variant="ghost"
        class="w-full flex justify-start items-center gap-2 h-16 px-1.5"
        [brnMenuTriggerFor]="menu"
      >
        <div
          class="bg-gray-300/20 dark:bg-gray-700/20 h-10 w-10 flex justify-center items-center rounded-full"
        >
          <ng-icon name="lucideUser" class="size-6" />
        </div>
        <span class="inline-flex flex-col text-start overflow-hidden">
          <span class="font-semibold text-black dark:text-white truncate"
            >{{userDetails?.role === 'admin' || userDetails?.role === 'subadmin' ?
      userDetails?.username : myPlan?.name ?? 'No Plan'}}</span
          >
          <span class="text-xs text-muted-foreground truncate"
            >{{ userDetails?.email }}</span
          >
        </span>
      </button>
    </div>
  </div>
</ng-template>

<nav
  class="side-menu h-dvh w-55 p-2 z-50 sticky left-0 border-r border-border hidden lg:flex lg:flex-col"
>
  <ng-container *ngTemplateOutlet="menuContent"></ng-container>
</nav>

<ng-template #menu>
  <hlm-menu class="w-56">
    <hlm-menu-label>
      <div class="flex flex-col space-y-1">
        <span class="font-semibold text-black dark:text-white"
          >{{ userDetails?.username }}</span
        >
        <span class="text-xs text-muted-foreground truncate"
          >{{ userDetails?.email }}</span
        >
      </div>
    </hlm-menu-label>
    <hlm-menu-separator />
    <hlm-menu-group>
      <button hlmMenuItem routerLink="/user-profile">
        <ng-icon hlm name="lucideUser" hlmMenuIcon />
        <span>Profile</span>
      </button>
      @if(false){
      <button hlmMenuItem>
        <ng-icon hlm name="lucideCreditCard" hlmMenuIcon />
        <span>Billing</span></button
      >} @if(userDetails?.role === 'admin' || userDetails?.role === 'subadmin'){
      <button hlmMenuItem routerLink="/admin">
        <ng-icon hlm name="remixDashboardLine" hlmMenuIcon />
        <span>Admin Dashboard</span>
      </button>
      }
      <button
        hlmMenuItem
        class="flex justify-between items-center"
        [brnMenuTriggerFor]="theme"
      >
        <div class="flex items-center">
          <ng-icon hlm name="lucideSunMoon" hlmMenuIcon />
          <span>Theme</span>
        </div>
        <ng-icon hlm name="lucideChevronRight" hlmMenuIcon />
      </button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <button hlmMenuItem (click)="logout()">
      <ng-icon hlm name="lucideLogOut" hlmMenuIcon />
      <span>Logout</span>
    </button>
  </hlm-menu>
</ng-template>

<ng-template #theme>
  <hlm-sub-menu>
    <button hlmMenuItem (click)="darkMode()">
      <ng-icon hlm name="lucideMoon" hlmMenuIcon />
      Dark
    </button>

    <button hlmMenuItem (click)="lightMode()">
      <ng-icon hlm name="lucideSun" hlmMenuIcon />
      Light
    </button>
  </hlm-sub-menu>
</ng-template>
