/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

@import "@angular/cdk/overlay-prebuilt.css";

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import "@spartan-ng/brain/hlm-tailwind-preset.css";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sidebar-background: hsl(0 0% 100%);
  --color-sidebar-foreground: hsl(215 25% 27%);
  --color-sidebar-primary: hsl(142 76% 36%);
  --color-sidebar-primary-foreground: hsl(0 0% 100%);
  --color-sidebar-accent: rgba(0, 0, 23, 0.043);
  --color-sidebar-accent-foreground: hsl(215 25% 27%);
  --color-sidebar-border: hsl(0 0% 9%);
  --color-sidebar-ring: hsl(142 76% 36%);

  --color-chart-1: #2662d9;
  --color-chart-2: #2eb88a;
  --color-chart-3: #e88c30;
  --color-chart-4: #af57db;
  --color-chart-5: #e23670;
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);

  --border: hsl(214.3 31.8% 91.4%);

  --input: hsl(214.3 31.8% 91.4%);

  --primary: hsl(222.2 47.4% 11.2%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);

  --ring: hsl(222.2 84% 4.9%);
  --radius: 0.5rem;

  --sidebar-background: hsl(0 0% 100%);
  --sidebar-foreground: hsl(215 25% 27%);

  --sidebar-primary: hsl(142 76% 36%);
  --sidebar-primary-foreground: hsl(0 0% 100%);

  --sidebar-accent: hsl(210 20% 96%);
  --sidebar-accent-foreground: hsl(215 25% 27%);

  --sidebar-border: hsl(0 0% 9%);

  --sidebar-ring: hsl(142 76% 36%);

  color-scheme: light;
}

.dark {
  --background: hsl(0 0% 1%);
  --foreground: hsl(0 0% 100%);

  --card: hsl(0 0% 1%);
  --card-foreground: hsl(0 0% 100%);

  --popover: hsl(0 0% 1%);
  --popover-foreground: hsl(0 0% 100%);

  --primary: hsl(0 0% 100%);
  --primary-foreground: hsl(240 6% 10%);

  --secondary: hsl(240 3% 7%);
  --secondary-foreground: hsl(0 0% 100%);

  --muted: hsl(240 3% 7%);
  --muted-foreground: hsl(240 5% 65%);

  --accent: hsl(240 3% 12%);
  --accent-foreground: hsl(0 0% 100%);

  --destructive: hsl(0 82% 55%);
  --destructive-foreground: hsl(0 0% 100%);

  --warning: hsl(39 100% 63%);
  --border: hsl(0 0% 10.9%);

  --input: hsl(240, 2.86%, 6.86%);
  --ring: hsl(240 5% 84%);

  --radius: 0.5rem;

  --sidebar-background: hsl(0 0% 1%);
  --sidebar-foreground: hsl(0 0% 100%);

  --sidebar-primary: hsl(0 0% 100%);
  --sidebar-primary-foreground: hsl(240 6% 10%);

  --sidebar-accent: hsl(240 3% 7%);
  --sidebar-accent-foreground: hsl(0 0% 100%);

  --sidebar-border: hsl(0 0% 9%);

  --sidebar-ring: hsl(240 5% 84%);

  --color-sidebar-background: hsl(0 0% 1%);
  --color-sidebar-foreground: hsl(0 0% 100%);
  --color-sidebar-primary: hsl(0 0% 100%);
  --color-sidebar-primary-foreground: hsl(240 6% 10%);
  --color-sidebar-accent: rgba(243, 243, 255, 0.088);
  --color-sidebar-accent-foreground: hsl(0 0% 100%);
  --color-sidebar-border: hsl(0 0% 9%);
  --color-sidebar-ring: hsl(240 5% 84%);

  color-scheme: dark;
}

* {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .side-bar-tab {
    @apply p-2 px-2.5 md:px-3 w-full rounded-md flex gap-2 gap-y-1 items-center hover:bg-sidebar-accent text-sm cursor-pointer h-12 hover:duration-75 hover:duration-400 hover:will-change-transform;

    svg {
      @apply size-4;
    }
  }

  .side-bar-tab.active {
    @apply bg-sidebar-accent;
  }

  .app-container {
    @apply w-full max-h-dvh overflow-y-auto;
  }

  button {
    @apply cursor-pointer;
  }

  .component-heading {
    @apply flex w-full items-center justify-between border-border p-4 md:border-b md:px-6 md:py-8;
    h1 {
      @apply text-lg font-bold leading-6;
    }
  }

  hlm-option[data-active] {
    .model-option {
      .lan-badge {
        @apply !bg-secondary/80;
      }
    }
  }

  ng-icon {
    @apply text-base;
  }

  table {
    @apply w-full table-auto;
  }
  table th {
    @apply px-5 py-3 border-b-2 border-border bg-muted text-left text-xs font-semibold text-muted-foreground uppercase tracking-wider;
  }

  table tbody {
    @apply border border-border border-t-0;
  }

  table tbody td {
    @apply px-5 py-3 text-sm whitespace-nowrap;
  }
  table tbody tr {
    @apply border-b border-border;
  }
}
